.fa.sign-out-icon {
    font-size: 25px;
    color:darkblue;
    cursor:pointer;
}

.fa.sign-in-icon {
    font-size: 25px;
    color:green;
    cursor:pointer;
}

.navbar-default {
    background-color:white;
}

header {
    background-color: #f8f9fa!important;
}