i.close-icon {
    position: absolute;
    padding: 0;
    margin: 0;
    line-height: 0;
    top: 40px;
    right: 20px;
    font-size: 50px;
    cursor:pointer;
}

h1.title {
    margin-top:50px;
    text-align:center;
}

h2.title-user {
    text-align:center;
    color:red;
}